/**
 * Layout Styling
 * I suggest making a comment separating the different layout sections to increase readability.
 */
 
 /** Header **/
#header {
  margin-top: 20px;
}
 
 /** Main Menu **/
#navigation {
  margin-top: 20px;
}

/**
 * Media Queries for standard devices
 */
 
/** Smartphones (portrait and landscape mode) **/
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { }

/** Smartphones (landscape mode) **/
@media only screen and (min-width: 321px) { }

/** Smartphones (portrait mode) **/
@media only screen and (max-width: 320px) { }

/** iPads (portrait and landscape mode) **/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) { }

/** iPads (landscape mode) **/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) { }

/** iPads (portrait mode) **/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { }

/** Computers **/
@media only screen and (min-width: 1224px) { }

/** Big 'ol screens **/
@media only screen and (min-width: 1824px) { }

/** iPhone 4 (portrait and landscape mode) **/
@mediaonly screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { }